body {
    font-family: Verdana, Tahoma, sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: rebeccapurple;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.blog-title {
    color: cornflowerblue;
}